
.navbar-brand img {
    height: 60px;
}



a.nav-link{
    text-decoration: none;
    color: #18354e;
    font-weight: 500;

}

a:hover {
    color: #e63462!important;
}

.navbar-toggler{
    background: #e63462!important;
    border:none;
    padding: 10px 6px;
    outline:none;
}
body{
    background-color:#18354e!important;
}
.card{
    background-color: #C7EFCF!important;
}
a{
    font-size:18px;

}
card-body{
    background-color:#C7EFCF!important;
}

html{
    font-family: 'Roboto', sans-serif!important;
    color: white;
}


.account-img {
  height: 125px;
  width: 125px;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
}



.content-section {
  background: #efdfbb;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

input{
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 25px!important;
  font-family: 'Roboto', sans-serif!important;
}

}

.account-heading {
  font-size: 2.5rem;
}
html,body{
    background-color:black!important;

}

h4{
    font-family: 'Italiana', serif;
    color: black;
}

h3{
    font-family: 'Italiana', serif;
    color: black;

}


h2 {
    font-family: 'Italiana', serif;
    color: white;
}

}
.result{
background-color: #C7EFCF;
}

div{
color: white;
}
label{
 color: black;
}
button{
    border-radius: 25px!important;
    background-color: #E63462;
    border-color: white;
}