body {
  background-color: #EEF5D8;
  font-size: 1.0rem;
  font-family: 'Roboto', sans-serif !important;
  color: #2b3e51;
  text-color: #2b3e51;
  background-attachment: fixed;
  margin: 30px auto;
}

h1 {
  font-family: 'Italiana', serif;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
}

p {
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  color: #333745;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #e63462;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#login-form-wrap {
  background-color: #EEF5D8;
  width: 30%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 24px!important;
}

input {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8C00900;
  border: 1px solid #EEF5DB;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;

}

input[type="submit"] {
  border: none;
  display: block;
  background-color: black;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #E63462;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


.middle {
    position: absolute;
    left: 50%;
    top:60%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #efdfbb;
    border-radius:8px;
    padding-bottom: 50px;
}

#logo {
	position:relative;
	left: 10%;
	top:5px;
	left:5px;
}
.navbar-brand img {
    height: 60px;
}

.error{
  text-color: red}



footer{
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  color: white;
  text-align: center;
}
html{
    background: black;
}
container-fluid, navbar navbar-expand-lg{
    background-color: transparent!important;
}

a.nav-link.active{
    font-size:18px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold!;

}