body {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/restaurant_4.webp");
  font-size: 1.0rem;
  font-family: 'Roboto', sans-serif!important;
  color: white;
  text-color: white;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size:100% 100vh;
  background-attachment: relative;

}

h1 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
}

p {
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  color: #FE5F55;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #8ADE9A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#login-form-wrap {
  background-color: #EEF5D8;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 25px;
}

input{
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8C00900;
  border: 1px solid #EEF5DB;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;

}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #EEF5DB;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif!important;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #E63462;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


.center {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 15px;
background-color: ;
border-radius:8px;
}

#logo{
	position:relative;
	left: 10%;
	top:5px;
	left:5px;
}

.error{
  text-color: red}

.content{

left: 35%;
top: 20%;
text-align: center;
background-attachment: fixed;


}

.content h2{
    font-size: 40px;
    margin-top: 10px;
    text-align: centre;
    font-family: 'Italiana', sans-serif;
    color: white;
}

.content p{
    color: white;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;

}