
.navbar-brand img {
    height: 60px;
}
html, body {
    font-family: 'Roboto', sans-serif;
}

a.nav-link{
    text-decoration: none;
    color: white!important;
    font-weight:900!important;

}

a:hover {
    color: #e63462!important;
}

.navbar-toggler{
    background:#e63462!important;
    border:none!important;
    padding: 10px 6px!important;
    outline:none!important;
}
nav.navbar.navbar-expand-lg{
      position:absolute;
      width:100%;
      z-index:10;
      max-width:100%;
      }