<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Search</title>
</head>
<body>
<div class='form'>
            <form method='GET' action= "search_results.html" >
              <input type= "search" name = "restaurant" placeholder= "Enter Restaurant name"><br>
              <input type= "search" name = "cuisine" placeholder= "Cuisine"><br>
              <input type= "search" name = "price range" placeholder= "Price Range"><br>
              <input type= "submit" id = "query" name= "q" placeholder= "Search"><br>
            </form>
        </div>
</body>



</html>