<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Log In - NOSH</title>
	<link rel="stylesheet" href="static/login_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div id="logo">
	    <img src="static/images/logo.png" style="max-width:75px;">
    </div>
    <div class="content">
            <h2>NOSH</h2>

        </div>
    <div class="center" style="min-width:60%; max-height:75%">

        <div class='form'>
            <form method='POST' action="login">
                {{ form.hidden_tag() }}

                <h1><center>LOG IN</center></h1>
                &nbsp{{ form.Email.label }} {{ form.Email }}
                <br>
                <br>
                &nbsp{{ form.Password.label }} {{ form.Password }}
                <br>
                <br>
                {{ form.login_button }}
                <br>
                <br>
            </form>

            <form method='GET' action="signup">
                {{ form.signup_button }}
            </form>
            <br>
            <div style="color:#8B0000">
                {{ message }}
            </div>
    </div>



<!--<div class = "bottom">
<footer>
<p class="description">Nosh is a members only booking platform for the most exclusive restaurants across London</p>
    <p class="copyright"> &copy; Copyright 2022 </p>
</footer>
</div>
</body>

<!-- you have been logged in as</p>
<p>ID: {{session['id']}}</p>
<p>Preferred Name: {{session['Preferred Name']}}</p>
<p>Allergens: {{session['Allergens']}}</p>
<-- provides CSRF protection, alongside secret key. Use on all POST forms -->
</html>