<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Log In - NOSH</title>
	<link rel="stylesheet" href="static/login_style.css">
</head>
<body>
<div id="logo">
	<img src="static/images/logo.png" style="max-width:15%; height:auto;">
</div>
<div class="center" style="min-width:60%; max-height:75%">
	<h1><center>Log In</center></h1>
	<div class='form'>
            <form method='POST' action="login">
                {{ form.hidden_tag() }}
                {{ form.Email.label }} {{ form.Email }}
                <br>
                <br>
                {{ form.Password.label }} {{ form.Password }}
                <br>
                <br>
                {{ form.login_button }}
				<br>
                <br>
            </form>

            <form method='GET' action="signup">
                {{ form.signup_button }}
            </form>
        <br>
        {{ message }}
        </div>
	</body>
</div>
<br>

<footer>
<!--<p>you have been logged in as</p>-->
<!--<p>ID: {{session['id']}}</p>-->
<!--<p>Preferred Name: {{session['Preferred Name']}}</p>-->
<!--<p>Allergens: {{session['Allergens']}}</p>-->
<!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
</footer>
</html>