<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Log In - NOSH</title>
	<link rel="stylesheet" href="static/login_style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<!--this has been added to include a navigation bar-->
{% include 'navbar.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--    <div id="logo">-->
<!--	    <img src="static/images/logo.png" style="max-width:15%; height:auto;">-->
<!--    </div>-->
    <div class="center" style="min-width:60%; max-height:75%">
        <div class='form'>
            <form method='POST' action="makeasearch">
                {{ form.hidden_tag() }}

                <h1><center>Find A Table</center></h1>
                <center>{{ form.Cuisine.label }} {{ form.Cuisine }}</center>
                <br>
                <center>{{ form.Price.label }} {{ form.Price }}</center>
                <br>
                {{ form.search_button }}
            </form>
            <div style="color:#8B0000">
                {{ message }}
            </div>
    </div>
</body>

<!--<p>you have been logged in as</p>-->
<!--<p>ID: {{session['id']}}</p>-->
<!--<p>Preferred Name: {{session['Preferred Name']}}</p>-->
<!--<p>Allergens: {{session['Allergens']}}</p>-->
<!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
</html>