<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div class='form'>
            <form method='POST' action=''>
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.FirstName.label }} {{ form.FirstName }}
                <br>
                {{ form.LastName.label }} {{ form.LastName }}
                <br>
                {{ form.PrefName.label }} {{ form.PrefName }}
                <br>
                {{ form.Password.label }} {{ form.Password }}
                <br>
                {{ form.Phone.label }} {{ form.Phone }}
                <br>
                {{ form.City.label }} {{ form.City }}
                <br>
                {{ form.Postcode.label }} {{ form.Postcode }}
                <br>
                {{ form.Allergens.label }} {{ form.Allergens }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
</body>
</html>